body {
    background-color: white;
    color: rgb(75, 72, 72)
    
}

.col-md-12{

    text-align: center;
    background-color: rgb(161, 161, 161);
    border-bottom: 1px solid rgb(255, 94, 0) ;
    color:white;
    font-family: serif;
    box-shadow:rgb(255, 94, 0)  0 1px 2px 0,
    rgb(255, 94, 0)  0 1px 3px 1px;
    

}
.col-xs-12 {
    margin: auto;
    width:960px;
    height:auto;
    font-size: 15px;
    border-radius: 10px;
    padding: 20px;
    font-family: ;
    
    
}
h2{
    color:rgb(114, 114, 113);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.input-group, .form-control, .input-group-append{

    height: 40px;

}
.input-group-text {
    width:60px;
    background-color:  grey;
    color:white;
    font-size: 13px;
}

 img {
    width:25px;
    margin:5px;
    height:20px;
    
    
}

.btn {

    padding: 0;
    border-bottom-color:#eeeeee;
    background-color: rgb(161, 161, 161);
    
}

.btn:hover {
    background-color: rgb(253, 132, 62);

}

input{
    background-color: #f5eded;
    
}

.past {
    background-color: rgb(216, 214, 214);
}

.current{
    background-color:rgb(250, 131, 131);

}

.future{
    background-color:rgb(128, 235, 128);

}

.card-footer {
    width: 100%;
    height:30px;
    background-color:#666666;
    border-top: 2px solid;
    border-color: rgb(255, 94, 0);
    box-shadow:rgb(255, 94, 0)  0 1px 2px 0,
    rgb(255, 94, 0)  0 1px 3px 1px;
    /*border-width: 6px;*/
    padding: 0;
}

nav.navbar {
    padding:0;
}

@media (max-width: 576px){

    .btn {
    
        width: auto;
        font: 10px;
    }

    .input-group, .form-control, .input-group-append img{

        height: auto;
    
    }

    .input-group-text {
        word-break: break-all;
        color: #eeeeee;
        font-size: 10px;
        text-align:start;
        padding:5px;
        
    }
    img {
        height:30px;
    }

}





